@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lobster&family=Nabla&display=swap');

/* -------------------------Body section -------------------------*/
body {
    font-family: "Lobster", sans-serif;
    background-color: #2f0569ab;
    color: #43ee0a;
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url('./img/img\ \(2\).jpg');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

header {
    background-color: #434648;
    color: rgb(9, 47, 237);
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 30px auto;
}

/*----------------------- Heartbeat Animation -----------------------*/
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.05);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(.05);
    }
    100% {
        transform: scale(1);
    }
}

/*----------------------- Container Styles with Heartbeat Effect and Shadow----------------------- */
#quote-container,
#favorites-section,
#search-section,
#suggest-quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
    animation: heartbeat 0.005s ease-in-out infinite; 
    transition: all 0.3s ease-in-out;
}

/* -------------------------Quote section------------------------- */
#quote-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

#quote-container blockquote {
    font-size: 1.5em;
    font-weight: bold;  
    margin: 20px auto;
    border-left: 5px solid #06e8f4;
    padding-left: 10px;
}

#quote-box {
    background-color: #f7f3f3;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgb(5, 45, 245); 
    max-width: 600px;
    width: 90%;
    transition: background-color 0.5s ease;
}

#quote-box blockquote {
    font-size: 30px;
    font-weight: bold; 
    margin: 0;
    text-align: center;
}

#quote-box footer {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: #ef05d0;
}
#favorite-quotes{
    text-align: left;
}
#favorites-section,
#search-section {
    margin: 20px 0;
}

/* -------------------------Form Section -------------------------*/
#suggest-quote-section {
    margin: 20px 0;
}

#suggest-quote-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#suggest-quote-form label {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

#suggest-quote-form input,
#suggest-quote-form textarea {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #043ff0;
}

#suggest-quote-form button {
    padding: 10px 20px;
    background-color: #10d0f6;
    color: rgb(233, 26, 202);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#suggest-quote-form button:hover {
    background-color: #09f329;
}
